/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.site-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.site-section {
    background: #171a21;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.infos {
    width: 100%;
    color: white;
}

.name {
    margin-bottom: 20px;
    width: 100%;
}

.inputs {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2a2a2a;
    color: white;
}

.button_save {
    padding: 10px 20px;
    background: #50c938;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    align-self: flex-end;
    width: 200px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button_save:hover {
    color: #50c938;
    background-color: #fbf3f3; 
    border: 1px solid #50c938; 
    cursor: pointer;
}

h1, p {
    color: white;
}

hr {
    width: 100%;
    border: 1px solid #333;
}

.input-container {
    position: relative;
    width: 400px;
}

.inputs {
    padding-right: 30px; /* space for the eye icon */
}

.eye-icon {
    position: absolute;
    right: 8px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon img {
    width: 20px;
    height: 20px;
}
